{% if jenkins_ssh_public_key_type == "file" %} 
    {{ lookup('file', jenkins_ssh_public_key_data) }}
{% else %}
    {% if jenkins_ssh_public_key_data != "none" %}
        {{ jenkins_ssh_public_key_data }}
    {% endif %}
{% endif %}
{% for key in jenkins_authorized_keys %}
    {{ key }}
{% endfor %}